@media screen and (max-width: 1000px) {
    .offcanvas {
        width: 95% !important;
    }
}

@media screen and (min-width: 1000px) {
    .offcanvas {
        width: 45% !important;
    }
}

select {
    overflow-x: scroll;
}

.tooltip-warning {
    --bs-tooltip-bg: var(--bs-warning-bg-subtle) !important;
    --bs-tooltip-color: var(--bs-white) !important;
    --bs-tooltip-opacity: 100% !important;
}